.gameOver{
    background-color: rgb(0, 0, 0);
    width: 100%;
    // height: 100vh;
    height: 100%;
    // position: fixed;
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
}

.btn {
    padding: 12px 24px;
    position: fixed;
    top: 85%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 100;
    border: solid 1px red;
    background-color: transparent;
    color: red;
    cursor: pointer;
}